body {
  background: pink; }
  body h1 {
    font-size: 65px;
    color: yellow; }
  body #app {
    color: red;
    text-transform: uppercase;
    text-decoration: underline; }
    body #app p {
      font-size: 30px; }

