$color:red;

body {
    background: $color;
    h1{
      font-size: 65px;
      color:blueviolet;

    }
    #app{
      color:red;
      text-transform: uppercase;
      text-decoration: underline;
      p{
        font-size: 30px;
      }
    }

}
